<ion-view view-title="Capture">
    <ion-content>
        <form name="form" class="simple-form" novalidate>
            <div class="list">
                <label class="item item-input">
                    <input type="text"
                           placeholder="Title"
                           ng-model="exposure.title"/>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Lens
                    </div>
                    <select ng-model="exposure.lens"
                            ng-options="lens as lens.name for lens in lenses"
                            ng-change="updateSettings()">
                    </select>
                </label>

                <div class="item item-input-inset">
                    <i class="ion-aperture slider-icon"></i>
                    <div class="range">
                        <input type="range"
                               min="0"
                               max="{{ getApertures().length - 1 }}"
                               step="1"
                               ng-model="aperture.index"
                               ng-change="setAperture(aperture.index)"/>
                    </div>
                    <h1 class="slider-display">
                        {{ getApertureAtIndex(aperture.index) }}
                    </h1>
                </div>

                <div class="item item-input-inset">
                    <i class="ion-speedometer slider-icon"></i>
                    <div class="shutter range">
                        <input type="range"
                               min="0"
                               max="{{ getShutterSpeeds().length - 1 }}"
                               step="1"
                               ng-model="shutter.index"
                               ng-change="setShutterSpeed(shutter.index)"/>
                    </div>
                    <h1 class="slider-display">
                        {{ getShutterSpeedAtIndex(shutter.index) }}
                    </h1>
                </div>
            </div>

            <div class="padding">
                <button class="button button-block activated"
                         ng-click="capture(exposure)">
                    <i class="icon ion-camera"></i>
                    Capture
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>
